@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="text-center">
        <h1 class="display-4">ROCK CLIMBING</h1>
        <p>
            Rock climbing isn't just a sport—it's a lifestyle, an adventure, and a journey of self-discovery.
            It doesn't take much to get sucked in. With the myriad of options available, from climbing at a gym or venturing into the
            great outdoors, to leading climbs or sticking to top rope, trad climbing or bouldering, there's always room for a new and
            different adventure.
        </p>
        <p></p>
        <img src="~/lib/climber.jpeg" />
        <p></p>
        <p>Whether you are a seasoned climber seeking to enhance your skills or a newcomer unsure of where to begin, 
            I'm here to guide you every step of the way. From refining your heel hooks to mastering dynos and conquering crimps, 
            I offer comprehensive coaching tailored to your individual needs and aspirations. </p>
        <p>Climbing is more than just physical movements. It's about overcoming mental barriers, pushing past your limits, and figuring out how to 
            solve problems. Not only do I facilitate physical growth, 
            I help individuals develop the mental resilience and focus needed to tackle challenging climbs with 
            confidence and determination.</p>
        <p>Let me help YOU reach new heights—both literally and metaphorically.</p>
        <p></p>
        <div class="image-container">
            <div class="image">
                <img src="~/lib/climber_indoor_bouldering_dyno.jpg" />
                <p class="caption">Dyno</p>
            </div>
            <div class="image">
                <img src="~/lib/crimp.jpg" />
                <p class="caption">Crimp</p>
            </div>
            <div class="image">
                <img src="~/lib/heelhook.jpg" />
                <p class="caption">Heel Hook</p>
            </div>
        </div>

  </div>
</body>
</html>
